.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../Assets/colection.jpeg");
  height: 100%;
  background-size: 155px;
  color: white;
  filter: brightness(0.9);
}

h1{
font-size: 10em;
font-family: "Amatic SC", cursive;
margin-bottom: 50px;

}


.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  rgba(130, 105, 160, 0.75);
  z-index: -1;
}

.buttonhome{
    padding: 30px !important ;
  font-size: 35px;
  
  }

